{% extends 'altproduct/base.html' %}

{% block content %}

{% include 'altproduct/little-header.html' %}

<section id="account">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <h2 class="section-heading">{{ h2_tag }}</h2>
                <hr class="my-4">

                {% if message %}
                    <p id="error-message">{{ message }}</p>
                {% endif %}
                
                {% for product in alt_products %}
                    <div class="card product-card">
                        <div class="product-card-badge">
                            <span class="product-nutrigrade badge badge-{{ product.nutrigrade }}">{{ product.nutrigrade }}</span>
                        </div>
                        
                        <div class="product-card-img" style="background-image: url({{ product.image }})"></div>
                        
                        <div class="card-body">
                            <h3 class="card-title product-card-title">{{ product.name }}</h3>
                            <a href="{% url 'altproduct:product_detail' product_id=product.id product_name=product.name %}" class="btn btn-primary">Détail du produit</a>
                        </div>

                        {% url 'altproduct:alternative' as alt_url %}
                        {% if user.is_authenticated and request.path == alt_url %}
                            <div class="card-footer" id="fav-product-{{ product.id }}">
                                
                                <i id="fa-{{ product.id }}" class="far fa-check-square"></i>
                                
                                <form id="fav-product-{{ product.id }}-form" class="fav-product-form" method="POST" action="save_product/">
                                    {% csrf_token %}
                                    <input class="save-product" type="submit" value="Sauvegarder ce produit">
                                </form>

                                <script>
                                    $('#fav-product-{{ product.id }}-form').on('submit', function(event){
                                        event.preventDefault();
                                        // Jinja2 variables scope : need to pass them as function parameters to work
                                        var csrf_token = '{{ csrf_token }}';
                                        var product_id = '{{ product.id }}';
                                        var user_id = '{{ user.id }}';
                                        js_save_product(csrf_token, product_id, user_id);
                                    });
                                </script>
                            </div>
                        {% endif %}

                    </div>
                {% endfor %}

                <div class="clearfix"></div>

                {% if paginate %}
                {% url 'altproduct:alternative' as alt_url %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if alt_products.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?{% if request.path == alt_url %}produit={{ searched_product }}&{% endif %}page=1">Début</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?{% if request.path == alt_url %}produit={{ searched_product }}&{% endif %}page={{ alt_products.previous_page_number }}" aria-label="Précédent">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Précédent</span>                        
                                </a>
                            </li>
                        {% endif %}
                
                        <li class="page-item page-link disabled">
                        Page {{ alt_products.number }} sur {{ alt_products.paginator.num_pages }}.
                        </li>
                
                        {% if alt_products.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?{% if request.path == alt_url %}produit={{ searched_product }}&{% endif %}page={{ alt_products.next_page_number }}" aria-label="Suivant">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Suivant</span>                    
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?{% if request.path == alt_url %}produit={{ searched_product }}&{% endif %}page={{ alt_products.paginator.num_pages }}">Fin</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}

            </div>
        </div>
    </div>
</section>

{% endblock %}