{% extends 'altproduct/base.html' %}

{% block content %}

{% include 'altproduct/little-header.html' %}

<section id="legal">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Edition</h2>
                <hr class="my-4">
                <p class="text-muted mb-0">
                    Le site vegalt.com est édité par la société Pur Beurre, au capital de 1 000€, immatriculée 
                    au Registre du commerce et des sociétés sous le numéro 123 456 789 et dont le siège social 
                    est situé à Montmartre (Paris).
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading mt-50">Responsables de publication</h2>
                <hr class="my-4">
                <p class="text-muted mb-0">Colette Tatou et Rémy.</p>
                <p class="text-muted mb-0">Tél. : 12-34-56-67-89</p>
                <p class="text-muted mb-0">Mail : contact@purbeurre.com</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading mt-50">L'hébergeur</h2>
                <hr class="my-4">
                <p class="text-muted mb-0">Le site vegalt.com est hébergé par la société :</p>
                <p class="text-muted mb-0">Heroku</p>
                <p class="text-muted mb-0">The Landmark @ 1 Market St.</p>
                <p class="text-muted mb-0">Suite 300</p>
                <p class="text-muted mb-0">San Francisco, CA</p>
                <p class="text-muted mb-0">94105</p>
                <p class="text-muted mb-0">Tél. : +33 1 (877) 563-4311</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading mt-50">Sources numériques</h2>
                <hr class="my-4">
                <p class="text-muted mb-0">Rendons à Ratatouille ce qui lui appartient :</p>
                <p class="text-muted mb-0"><a href="https://app.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/introduction/Notre-identité">Charte graphique</a></p>
                <p class="text-muted mb-0"><a href="https://blackrockdigital.github.io/startbootstrap-creative/">Template du site</a></p>
                <p class="text-muted mb-0"><a href="https://unsplash.com/photos/eqsEZNCm4-c">Photo</a></p>
                <p class="text-muted mb-0"><a href="https://thenounproject.com/term/carrot/29691/">Icône carotte</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}